.container{
  width: 940px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('./fonts/Flat-UI-Icons.eot');
  src: url('./fonts/Flat-UI-Icons.eot?#iefix') format('embedded-opentype'), url('./fonts/Flat-UI-Icons.woff') format('woff'), url('./fonts/Flat-UI-Icons.ttf') format('truetype'), url('./fonts/Flat-UI-Icons.svg#Flat-UI-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fui-new {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.fui-new:before {
  content: "\e00d";
}
body {
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: underline;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 4px;
}
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14.994px;
  /* 15px */

  font-weight: 500;
}
.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.btn.btn-large {
  font-size: 16.996px;
  /* 17px */

  line-height: 20px;
  padding: 12px 18px 13px;
}
.btn.btn-large > [class^="fui-"] {
  top: 0;
}
.btn.btn-large > [class^="fui-"].pull-right {
  margin-right: -2px;
}
.btn.btn-primary {
  background-color: #1abc9c;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #48c9b0;
}
.btn.btn-primary:active,
.btn-group.open .btn.btn-primary.dropdown-toggle,
.btn.btn-primary.active {
  background-color: #16a085;
}
.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #5dade2;
}
.btn.btn-info:active,
.btn-group.open .btn.btn-info.dropdown-toggle,
.btn.btn-info.active {
  background-color: #2c81ba;
}
.btn.btn-danger {
  background-color: #e74c3c;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn-group:focus .btn.btn-danger.dropdown-toggle {
  background-color: #ec7063;
}
.btn.btn-danger:active,
.btn-group.open .btn.btn-danger.dropdown-toggle,
.btn.btn-danger.active {
  background-color: #c44133;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #58d68d;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #27ad60;
}
.btn.btn-warning {
  background-color: #f1c40f;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn-group:focus .btn.btn-warning.dropdown-toggle {
  background-color: #f5d313;
}
.btn.btn-warning:active,
.btn-group.open .btn.btn-warning.dropdown-toggle,
.btn.btn-warning.active {
  background-color: #cda70d;
}
.btn.btn-inverse {
  background-color: #34495e;
}
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn-group:focus .btn.btn-inverse.dropdown-toggle {
  background-color: #415b76;
}
.btn.btn-inverse:active,
.btn-group.open .btn.btn-inverse.dropdown-toggle,
.btn.btn-inverse.active {
  background-color: #2c3e50;
}
.btn > [class^="fui-"] {
  margin: 0 4px;
  position: relative;
  top: 1px;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.btn > [class^="fui-"].pull-right {
  margin-right: 0px;
}
.btn-toolbar .btn.active {
  color: #ffffff;
}
.btn-toolbar .btn:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.btn-toolbar .btn:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
.btn-toolbar .btn > [class^="fui-"] {
  font-size: 16px;
  top: 0;
}
.btn-tip {
  font-weight: 300;
  padding-left: 10px;
}
.btn-group > .btn {
  border-radius: 0;
  text-align: center;
}
.btn-group > .btn:active + .btn,
.btn-group > .btn.active + .btn {
  border-left-color: transparent;
}
.btn-group > .btn:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn + .btn {
  margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
  border-left: 2px solid rgba(52, 73, 94, 0.15);
  padding-left: 13px;
  padding-right: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group > .btn + .dropdown-toggle .caret {
  margin-left: 3px;
  margin-right: 3px;
}
.btn-group > .btn.btn-huge + .dropdown-toggle .caret {
  margin-left: 7px;
  margin-right: 7px;
}
.btn-group > .btn.btn-small + .dropdown-toggle .caret {
  margin-left: 0;
  margin-right: 0;
}
.caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 8px;
  border-bottom-color: #34495e;
  border-style: solid;
  border-bottom-style: none;
  border-top-color: #34495e;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.dropup .caret,
.dropup .btn-large .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-width: 8px;
}
.btn-mini .caret,
.btn-small .caret,
.btn-large .caret {
  margin-top: 7px;
}
.btn-large .caret {
  border-top-width: 8px;
  border-right-width: 6px;
  border-left-width: 6px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 8px 5px;
  height: 21px;
  text-indent: 6px;
  -webkit-appearance: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-backface-visibility: hidden;
}
.control-group.focus textarea,
.control-group.focus input[type="text"],
.control-group.focus input[type="password"],
.control-group.focus input[type="datetime"],
.control-group.focus input[type="datetime-local"],
.control-group.focus input[type="date"],
.control-group.focus input[type="month"],
.control-group.focus input[type="time"],
.control-group.focus input[type="week"],
.control-group.focus input[type="number"],
.control-group.focus input[type="email"],
.control-group.focus input[type="url"],
.control-group.focus input[type="search"],
.control-group.focus input[type="tel"],
.control-group.focus input[type="color"],
.control-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #1abc9c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.row-fluid textarea,
.row-fluid input[type="text"],
.row-fluid input[type="password"],
.row-fluid input[type="datetime"],
.row-fluid input[type="datetime-local"],
.row-fluid input[type="date"],
.row-fluid input[type="month"],
.row-fluid input[type="time"],
.row-fluid input[type="week"],
.row-fluid input[type="number"],
.row-fluid input[type="email"],
.row-fluid input[type="url"],
.row-fluid input[type="search"],
.row-fluid input[type="tel"],
.row-fluid input[type="color"],
.row-fluid .uneditable-input {
  height: 41px;
  width: 100%;
}
textarea.flat,
input[type="text"].flat,
input[type="password"].flat,
input[type="datetime"].flat,
input[type="datetime-local"].flat,
input[type="date"].flat,
input[type="month"].flat,
input[type="time"].flat,
input[type="week"].flat,
input[type="number"].flat,
input[type="email"].flat,
input[type="url"].flat,
input[type="search"].flat,
input[type="tel"].flat,
input[type="color"].flat,
.uneditable-input.flat {
  border-color: transparent;
}
textarea.flat:hover,
input[type="text"].flat:hover,
input[type="password"].flat:hover,
input[type="datetime"].flat:hover,
input[type="datetime-local"].flat:hover,
input[type="date"].flat:hover,
input[type="month"].flat:hover,
input[type="time"].flat:hover,
input[type="week"].flat:hover,
input[type="number"].flat:hover,
input[type="email"].flat:hover,
input[type="url"].flat:hover,
input[type="search"].flat:hover,
input[type="tel"].flat:hover,
input[type="color"].flat:hover,
.uneditable-input.flat:hover {
  border-color: #bdc3c7;
}
textarea.flat:focus,
input[type="text"].flat:focus,
input[type="password"].flat:focus,
input[type="datetime"].flat:focus,
input[type="datetime-local"].flat:focus,
input[type="date"].flat:focus,
input[type="month"].flat:focus,
input[type="time"].flat:focus,
input[type="week"].flat:focus,
input[type="number"].flat:focus,
input[type="email"].flat:focus,
input[type="url"].flat:focus,
input[type="search"].flat:focus,
input[type="tel"].flat:focus,
input[type="color"].flat:focus,
.uneditable-input.flat:focus {
  border-color: #1abc9c;
}
.control-group {
  position: relative;
}
.control-group > .input-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 37px;
  vertical-align: middle;
  font-size: 19.991999999999997px;
  /* 20px */

  color: #b2bcc5;
  background-color: #ffffff;
  padding: 0 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.control-group input:focus + .input-icon {
  color: #34495e;
}
.control-group.huge > .input-icon {
  line-height: 49px;
}
.control-group.large > .input-icon {
  line-height: 41px;
}
.control-group.small > .input-icon {
  font-size: 15.988px;
  /* 16px */

  line-height: 30px;
}
.control-group.success > .input-icon,
.control-group.success input + .input-icon {
  color: #2ecc71;
}
.control-group.warning > .input-icon,
.control-group.warning input + .input-icon {
  color: #f1c40f;
}
.control-group.error > .input-icon,
.control-group.error input + .input-icon {
  color: #e74c3c;
}
.control-group.disabled > .input-icon,
.control-group.disabled input + .input-icon {
  color: #d5dbdb;
  background-color: #f4f6f6;
}
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
}
input,
textarea,
.uneditable-input {
  width: 192px;
}
textarea {
  height: auto;
  font-size: 14.994px;
  /* 15px */

  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0;
}
.row-fluid textarea {
  height: auto;
  width: 100% !important;
}
textarea[class*="span"] {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login {
 // background: url(../images/login/imac.png) 0 0 no-repeat;
  background-size: 940px 778px;
  color: #ffffff;
  margin-bottom: 77px;
  padding: 38px 38px 267px;
  position: relative;
}
.login-screen {
  background-color: #1abc9c;
  min-height: 317px;
  padding: 93px 199px 33px 306px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.login-icon {
  left: 200px;
  position: absolute;
  top: 140px;
  width: 96px;
}
.login-icon > img {
  display: block;
  margin-bottom: 6px;
  width: 100%;
}
.login-icon > h4 {
  font-size: 13px;
  font-weight: 200;
//  line-height: 24px;
  opacity: 0.95;
  filter: alpha(opacity=95);
}
.login-icon > h4 small {
  line-height: 24px;
  color: inherit;
  display: block;
  font-size: inherit;
  font-weight: 700;
}
.login-form {
  background-color: #edeff1;
  padding: 24px 23px 20px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.login-form:before {
  content: '';
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #edeff1 transparent transparent;
  height: 0;
  position: absolute;
  left: -12px;
  top: 35px;
  width: 0;
  -webkit-transform: rotate(360deg);
}
.login-form .control-group {
  margin-bottom: 6px;
  position: relative;
}
.login-form .login-field {
  border-color: transparent;
  font-size: 17px;
  padding-bottom: 11px;
  padding-top: 11px;
  text-indent: 3px;
  width: 299px;
  margin-bottom: 10px !important;
}
.login-form .login-field:focus + .login-field-icon {
  color: #1abc9c;
}
.login-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 23px;
  top: 103px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
.login-link {
  color: #bfc9ca;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}
#content {
    width: 100%;
    height: 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 6px;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

span.placeholder{
    position:absolute;
    font-size:15px;
    color:#999;
    font-family:sans-serif;
    padding:4px 3px;
    z-index:1;
    cursor:text;
}

span.placeholder-hide-except-screenreader {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

span.placeholder-hide{
	display:none;
}

/* overwrite for the HTML5 Boilerplate way to hide labels */
label.visuallyhidden-with-placeholder{
    /*clip: auto !important;*/
    height:auto !important;
    overflow: visible !important;
    position:absolute !important;
    left:-999em;
}
