<!DOCTYPE html>
<html lang="zh-cn">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<div id="container" style="height: 500px; min-width: 500px"></div>
<script type="text/javascript">

data = [
  {% for p in POINTS %}
    [{{p.0}}, {{p.1}}],
  {% endfor %}
];

$('#container').highcharts('StockChart', {
  rangeSelector : {
    selected : 1
  },

  title : {
    text : '{{TITLE}}'
  },

  series : [{
    name : 'All',
    data : data,
    tooltip: {
      valueDecimals: 2
    }
  }]
});

</script>
</html>
