{% load chartkick %}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>清华树洞统计</title>
        <script src="https://www.google.com/jsapi"></script><script src="{{ STATIC_URL }}chartkick.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}flat-ui.css">
    </head>
    <body>
        <div class="container">
            <h2 style="text-align: center;">{{ TITLE }}, 生成时间：{{ TIME }}</h2>
            {% line_chart data with height=500px %}
        </div>
    </body>
</html>
